*
  margin: 0
  padding: 0
  box-sizing: border-box

img
  image-rendering: pixelated

html, body
  width: 100vw
  height: 100vh

body
  background-color: #333
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

#canvas
  width: 480px
  height: 280px
  overflow: hidden
  position: relative 
  transform: scale(2)
  background: linear-gradient(#7da4ca, #22448a)

.bg
  position: relative
  left: 0
  top: 0

.player
  position: absolute
  width: 30px
  height: 30px
  background-repeat: no-repeat
  background-size: contain
  padding: 35px 0 0 5px
  text-shadow: 1px 1px 1px #fff
  // clip: rect(0px,60px,200px,0px)
  left: 0
  right: 0